@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeoSans";
  src: url("./fonts.ts") format("woff");
}

:root {
  background: rgba(245, 245, 245, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-neo{
  font-family: "NeoSans-Regular";
}
